.project_description{
  font-size: 16px;
  font-family: Helvetica;
  margin-right: 250px;
  margin-top: 10px;
  color:#C0C0C0;
}
.project_heading{
  margin-top: 20px;
  color:#00FFFF;

}
.Project_details{
  padding-right: 40;
  font-family:  Georgia;

}
